@font-face {
  font-family: 'iconfont';  /* project id 524953 */
  src: url('https://at.alicdn.com/t/font_524953_ruxfunz9bg74x6r.eot');
  src: url('https://at.alicdn.com/t/font_524953_ruxfunz9bg74x6r.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_524953_ruxfunz9bg74x6r.woff') format('woff'),
  url('https://at.alicdn.com/t/font_524953_ruxfunz9bg74x6r.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_524953_ruxfunz9bg74x6r.svg#iconfont') format('svg');
}
.iconfont{
	font-family: 'iconfont';
}
i{
	font-style: normal;
}


*{
	margin: 0;
	padding: 0;
	list-style: none;

}

a{

	text-decoration: none;
	
}
img{
	display: block;
}
.box{
	width: 100%;
	height: auto;
	background:#f5f5f5;
}

.head{
	width: 100%;
	height: 40px;
	background: #333333;
}
.head .main{
	width: 1226px;
	height: 100%;
	/* background: red; */
	margin: 0 auto; 
}
.header_left{
	width: 408px;
	height: 100%;
	/* background:green;  */
	float: left;
}
.header_left a{
	font-size: 12px;
	color: #b0b0b0;
	float: left;
	padding: 0 7px;
	border-right: 1px solid #424242;
	margin-top: 12px;
}


.header_left a:first-child{
	padding-left: 0;
}
.header_left a:last-child{
	border: 0;
	padding-right: 0;
}
.header_left a:hover{
	color: #fff;
}
.header_right{
	width: 273px;
	height: 100%;
	/* background: blue; */
	float: right;
}
.header_right .left1{
	width: 153px;
	height: 100%;
	/* background: pink; */
	float: left;
}
.header_right .left1 a{
	font-size: 12px;
	color: #b0b0b0;
	float: left;
	border-right: 1px solid #424242;
	margin-top: 12px;
	
}
.header_right .left1 a:first-child{
	padding-left: 0;
	padding-right: 6px;
}
.header_right .left1 a:nth-child(2){
	padding-left: 5px;
	padding-right: 6px;
}
.header_right .left1 a:last-child{
	border-right: 0;
	margin-left: 10px;
}
.header_right .left1 a:hover{
	color: #fff;
}
.header_right .right2{
	width: 120px;
	height: 100%;
	float: left;
	background: #424242;
	display: block;
}
.header_right .right2 .car{
	width: 20px;
	height: 14px;
	background: red;
	float: left;
	margin: 14px 0 0 17px ;
	background: url('../img/gwc.png')no-repeat center center;
}
.header_right .right2 .text{
	font-size: 12px;
	color: #b0b0b0;
	float: left;
	margin: 13px 0 0 3px;
}
.header_right .right2:hover{
	background:#fff;
}
.header_right .right2:hover .text{
	color: #ff6700;
}
.header_right .right2:hover .car{
	background: url('../img/gwchs_03.png')
}

.search{
	width: 1226px;
	height: 100px;
	/* background: pink; */
	margin: 0 auto;
}
.search .logo{
	width: 55px;
	height: 55px;
	/* background: red; */
	float: left;
	margin-top: 22px;
	display: block;
}
.search .logo img{
	width: 100%;
	height: 100%;
}
.search .nav{
	width: 596px;
	height: 100%;
	
	float: left;
	margin-left: 189px;

}
.search .nav a{
	float: left;
	font-size: 16px;
	color: #606060;
	margin-right: 20px;
	margin-top: 35px;

}
.search .nav a:hover{
	color: #ff6700;
}
.search .nav a:last-child{
	margin-right: 0;
}
.search .sousuo{
	width: 296px;
	height: 100%;
	/* background: orange; */
	float: right;
}
.search .sousuo .soso{
	width:100%;
	height: 50px;
	/* background: red; */
	margin-top: 25px;

}
.search .sousuo .left{
	width: 243px;
	height: 48px;
	border: 1px solid #e0e0e0;
	float: left;
}
.search .sousuo .left:hover{
	border: 1px solid #ff6700;
}
.search .sousuo .right{
	width: 49px;
	height: 48px;
	border: 1px solid #e0e0e0;
	float: left;
	border-left: 0;

}
.search .sousuo .right .big{
	width: 20px;
	height: 20px;
	float: right;
	margin-top: 13px;
	margin-right: 14px;
	background: url('../img/big.png') no-repeat center center;
}
.search .sousuo .right:hover .big{
	
	background: url('../img/ybig.png') no-repeat center center;
}
.search .sousuo .right:hover{
	background: #ff6700;
}
.boxer{
	width: 1226px;
	height: 460px;
	background: red;
	margin: 0 auto 14px;
	position: relative;


}
.banner{
	width: 100%;
	height: 100%;


}
.banner img{
	display: block;
	width: 100%;
	height: 100%;



}
.banner a{
	display: block;
	width: 100%;
	height: 100%;
}
.banner li{
	width: 100%;
	height:100%;
	display: none;

}
.banner .active{
	display:block;
}
.aside_box{
	width: 234px;
	height: 440px;
	background: rgba(0, 0, 0,0.6);
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 20px;


}
.aside_box li{
	width: 100%;
	height: 42px;
}
.aside_box a{
	width: 100%;
	height: 100%;
	display: block;
}
.aside_box .left{
	font-size: 12px;
	color: #fff;
	float: left;
	line-height: 42px;
	margin-left: 29px;
}

.aside_box .right{
	font-size: 12px;
	color: #fff;
	float: right;
	line-height: 42px;
	margin-right: 23px;
}
.aside_box li:hover{
	background: #ff6700;
}

.btn_box{
	width: 90px;
	height: 10px;
	/* background: red; */
	position: absolute;
	right: 35px;
	bottom: 25px;
}
.btn_box li{
	width: 6px;
	height: 6px;
	margin-right: 10px;
	background: #17171c;
	border: 2px solid #5c5c5f;
	border-radius: 50%;
	float: left;
}
.btn_box li:last-child{
	margin-right: 0;
}
.boxer .left_{
	width:41px;
	height: 69px;
	background:rgba(0, 0 ,0 ,0.6);
	font-size: 30px;
	color: #fff;
	text-align: center;
	line-height: 69px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	left:0;
	z-index: 33;

}
.boxer .right_{
	width:41px;
	height: 69px;
	background:rgba(0, 0 ,0 ,0.6);
	font-size: 30px;
	color: #fff;
	text-align: center;
	line-height: 69px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	right: 0;
	z-index: 33;
}
.boxer .xxk{
	width:992px;
	height:458px;
	position: absolute;
	top:0;
	left:234px;
	border-top: 1px solid black;

}

.boxer .xxk .no1{
	width:795px;
	height:100%;
	background:#fff;
	display:none;
}


.boxer .xxk .no2{
	width:992px;
	height:100%;
	background:#fff;
	display:none;

}
.boxer .xxk .no3{
	width:795px;
	height:100%;
	background:#fff;
	display:none;
}
.boxer .xxk .no4{
	width:795px;
	height:100%;
	background:#fff;
	display:none;
}
.boxer .xxk .no5{
	width:992px;
	height:100%;
	background:#fff;
	display:none;
}

.boxer .xxk .no1 ul{
	width:265px;
	height:458px;
	float: left;
	padding:2px 0;
}
.boxer .xxk .no3 ul{
	width:265px;
	height:458px;
	float: left;
	padding:2px 0;
}
.boxer .xxk .no2 ul{
	width:248px;
	height:458px;
	float: left;
	padding:2px 0;
}
.boxer .xxk .no5 ul{
	width:248px;
	height:458px;
	float: left;
	padding:2px 0;
}
.boxer .xxk .no4 ul{
	width:265px;
	height:458px;
	float: left;
	padding:2px 0;
}

.boxer .xxk .no1 ul li{
	float: left;
	width: 265px;
	height: 76px;


}
.boxer .xxk .no4 ul li{
	float: left;
	width: 265px;
	height: 76px;


}
.boxer .xxk .no3 ul li{
	float: left;
	width: 265px;
	height: 76px;


}
.boxer .xxk .no2 ul li{
	float: left;
	width: 248px;
	height: 76px;


}
.boxer .xxk .no5 ul li{
	float: left;
	width: 248px;
	height: 76px;


}
.boxer .xxk  ul li a{
	display: block;
	padding: 18px 20px;
	line-height: 40px;
	color: #333;
	width:auto;
	height:auto;

}
.boxer .xxk  ul li img{
	margin-right: 12px;
	width:40px;
	height:40px;
	float: left;
}
.boxer .xxk  ul li span{
    line-height: 40px;
	display: block;
	float: left;
}
.boxer .xxk .active{
	display:block;
}
.edg{
	width: 1226px;
	height: 170px;
	margin: 0 auto;
	margin-bottom: 24px;
	margin-top: 14px;

	
}
.edg .we{
	width: 228px;
	height: 164px;
	margin-right: 14px;
	float: left;
	padding: 3px;
	background: #5F5750;
}
.edg .we .s1{
	width: 70px;
	height: 82px;
	padding: 0 3px;
	float: left;
	background: #5F5750;
	position: relative;
}
.edg .we .right{
	position: absolute;
	width: 1px;
	height: 70px;
	background: #665e57;
	right: 0;
	top: 6px;

}
.edg .we .left{
	position: absolute;
	width: 64px;
	height: 1px;
	background: #665e57;
	bottom: 0;
	left: 6px;
}
.edg .we .s1 a{
	color: rgba(255, 255, 255, 0.7);
	display: block;
    padding-top: 18px;
}
.edg .we1{
	width: 316px;
	height: 170px;
	margin-right: 14px;
	float: left;
}
.edg .we1:last-child{
	margin-right: 0;
}
.edg a{
	display: block;
	font-size: 12px;
	text-align: center;
}
.edg .we .s1 a:hover{
	color: #fff;
}
.edg img{
	width: 316px;
	height: 170px;
	display: block;
}
.iconfontn{
	display: block;
    height: 24px;
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
}
.danpin{
	width: 1226px;
	height: 400px;
	/* background: yellow; */
	margin: 0 auto;
	margin-bottom: 40px;
}

.danpin .danpin-top{
	width: 100%;
	height: 60px;
	background: #fff;
}
.danpin .danpin-top .left{
	width: 133px;
	height: 60px;
	background: #fff;
	font-size: 20px;
	line-height: 60px;
	color: black;
	float: left;
}
.danpin .danpin-top .right{
	width: 71px;
	height: 24px;
	/* background: blue; */
	float: right;
	margin-top: 26px;
}
 .right .zuojiantou{
	width: 34px;
	height: 22px;
	border: 1px solid #e0e0e0;
	font-size: 12px;
	color: #b0b3c0;
	text-align: center;
	line-height: 22px;
	float: left;
}
.right .youjiantou{
	width: 34px;
	height: 22px;
	border: 1px solid #e0e0e0;
	border-left: 0;
	font-size: 12px;
	color: #b0b3c0;
	text-align: center;
	line-height: 22px;
	float: left;
}
.danpin .danpin-bottom{
	width: 100%;
	height: 339px;
	background: #fff;
}
.danpin .danpin-bottom .danpin-list{
	width: 234px;
	height: 100%;
	background: #fafafa;
	float: left;
	margin-right: 14px;
}
.danpin .danpin-bottom .danpin-list:last-child{
	margin-right: 0;
	border-top: 1px solid #00c0a5;
}
.danpin .danpin-bottom .danpin-list:first-child{
	border-top: 1px solid #ffac13;
}
.danpin .danpin-bottom .danpin-list:nth-child(2){
	border-top: 1px solid #83c44e;
}
.danpin .danpin-bottom .danpin-list:nth-child(3){
	border-top: 1px solid #2196f3;
}
.danpin .danpin-bottom .danpin-list:nth-child(4){
	border-top: 1px solid #e53935;
}
.danpin-list .tupian{
	width: 169px;
	height: 152px;
	background: black;
	display: block;
	margin: 40px auto 0;
}
.danpin-list img{
	width: 100%;
	height: 100%;
	display: block;
}
.danpin-list .title{
	display: block;
	margin: 29px auto 0;
	text-align: center;
	font-size: 12px;
	color: #212121;
}
.danpin-list .pingmu{
	text-align: center;
	font-size: 12px;
	color: #bacce5;
	margin-top: 5px;
}
.danpin-list .jiage{
	text-align: center;
	font-size: 12px;
	color: #ff6709;
	margin-top:14px ;
}
.jiadian{
	width: 1226px;
	height: 686px;
	margin: 14px auto 8px;
	padding-top: 60px;
}
.jiadian .top{
	width: 1226px;
	height: 58px;
}
.jiadian .top .left{
    width: 44px;
    height: 25px;
    margin: 18px 0;
    font-size: 22px;
    float: left;
}
.jiadian .top .right{
	width: 280px;
	height: 26px;
	float: right;
	padding-top: 16px;
}
.jiadian .top .right a:hover{
	border-bottom: 2px solid #ff6700;
	color: #ff6700;
}
.jiadian .top .right .right1{
	display: block;
	width: 32px;
	height: 26px;
	margin-left: 30px;
	font-size: 16px;
	color: black;
	float: left;
	text-align: center;
	line-height: 26px;
	
}
.jiadian .top .right .right2{
	display: block;
	width: 64px;
	height: 26px;
	margin-left: 30px;
	font-size: 16px;
	color: black;
	float: left;
	text-align: center;
	line-height: 26px;
}
.jiadian .top .right .right3{
	display: block;
	width: 32px;
	height: 26px;
	margin-left: 30px;
	font-size: 16px;
	color: black;
	float: left;
	text-align: center;
	line-height: 26px;

}
.jiadian .top .right .right4{
	display: block;
	width: 32px;
	height: 26px;
	margin-left: 30px;
	font-size: 16px;
	color: black;
	float: left;
	text-align: center;
	line-height: 26px;
}
.jiadian .up{
	width: 1226px;
	height: 628px;
	overflow: hidden;
}
.up .left{
	width: 234px;
	height: 614px;
	float: left;
	margin-bottom: 14px;
	transition: all 1s;
}
.up .left:hover{
	transform: translateY(-5px);
	box-shadow: 0 8px 8px 8px rgba(0,0,0,0.4);
}
.jiadian .up img{
	width: 100%;
	height: 100%;
	display: block;
}
.jiadian .up .right{
	width: 992px;
	height: 628px;
	float: left;
	display:none;
}
.jiadian .up .active{
	display: block;
}
 .up .right .box{
	width: 234px;
	height: 300px;
	background: white;
	float: left;
	margin-left: 14px;
	margin-bottom: 14px;
	position: relative;
	overflow: hidden;
	transition: all 1s;

}
 .up .right .box .wq{
	width: 100%;
	height: 76px;
	background: #ff6700;
	font-size: 12px;
	position: absolute;
	bottom: -76px;
	left: 0;
	transition: all 1s;
}
 .up .right .box .wq a{
	display: block;
	color: #757575;
	
	padding: 8px 30px;
}
 .up .right .box:hover{
	transform: translateY(-5px);
	box-shadow: 0 8px 8px 8px rgba(0,0,0,0.4);

}
 .up .right .box:hover .wq{
	bottom: 0px;
}
 .up .right .box .wq a .top112{
	margin-bottom: 5px;
    color: #fff;
    display: block;
   /*  text-align: center; */
   

}
 .up .right .box .wq a .bottom112{
	color: rgba(255,255,255,0.6);
	display: block;

}
.jiadian .up .right .box:last-child{
	background:none ;
	box-shadow: none;
	transform: none;
}

.jiadian .up .right .box .zhe{
	width: 64px;
	height: 20px;
	background: #e53935;
	margin: 0 auto;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	color: white;
}
.jiadian .up .right .box .aab{
	background: green;
}
.jiadian .up .right .box .tu{
	background: pink;
	margin: 39px 23px 0 28px;
}
.jiadian .up .right .box .tu img{
	width: 100%;
	height: 100%;
	display: block;
}
.jiadian .up .right .box .title {
	text-align: center;
	display: block;
	font-size: 12px;
	color: black;
	/* margin-top: 15px; */
}
.jiadian .up .right .box .zhushi{
	text-align: center;
	font-size: 12px;
	color: #B0B0B0;
	margin-top: 2px;
}
.jiadian .up .right .box .jiage{
	text-align: center;
	font-size: 12px;
	color: #ff6733;
	margin-top: 10px;
}
.jiadian .up .right .box .jiage del{
	color: #B0B0B0;
}
.jiadian .up .right .box .con1{
	width: 234px;
	height: 143px;
	margin-bottom: 14px;
	background: white;
	transition: all 2s;
}
.jiadian .up .right .box .con1:hover{
	transform: translateY(-5px);
	box-shadow: 0 8px 8px 8px rgba(0,0,0,0.4);
}
.jiadian .up .right .box .con1 .left:hover{
	transform: none;
	box-shadow: none;
}
.jiadian .up .right .box .con2{
	width: 234px;
	height: 143px;
	background: white;
	transition: all 2s;
}
.jiadian .up .right .box .con2:hover{
	transform: translateY(-5px);
	box-shadow: 0 8px 8px 8px rgba(0,0,0,0.4);
}
.jiadian .up .right .box .con1 .left{
	width: 71px;
	height: 47px;
	margin-top: 35px;
	margin-left: 30px;
	float: left;
}
.jiadian .up .right .box .con1 .righ{
	width: 89px;
	height: 75px;
	margin-top: 35px;
	margin-right: 27px;
	background: yellow;
	float: right;
}
.jiadian .up .right .box .con1 .left a{
	font-size: 12px;
	color: #333333;
	margin-top: 5px;
}
.jiadian .price{
	font-size: 12px;
	color: red;
	margin-top: 8px;
}
.jiadian .con2 .zuo{
	width: 71px;
	height: 75px;
	margin-top: 37px;
	margin-left: 30px;
	float: left;
}
.jiadian .con2 .you{
	width: 89px;
	height: 75px;
	float: right;
	margin-top: 37px;
	margin-right: 27px;
}
.jiadian .con2 .zuo .look {
	font-size: 17px;
	color:#333;
	margin-top: 17px;
}
.jiadian .hot{
	font-size: 12px;
	color: #b0b0b0;
	margin-top: 4px;
}
.zhineng{
	width: 1226px;
	height: 686px;
	margin: 14px auto 8px;
}
.zhineng .top{
	width: 1226px;
	height: 58px;
}
.zhineng .top .left{
    width: 44px;
    height: 25px;
    margin: 18px 0;
    font-size: 22px;
    float: left;
}
.zhineng .top .right{
	width: auto;
	height: 26px;
	float: right;
	padding-top: 16px;
}
.zhineng .top .right .right1{
	display: block;
	
	height: 26px;
	margin-left: 30px;
	font-size: 16px;
	color: black;
	float: left;
	text-align: center;
	line-height: 26px;
	
}
.zhineng .top .right a:hover{
	border-bottom: 2px solid #ff6700;
	color: #ff6700;

}
.zhineng .top .right .right2{
	display: block;
	
	height: 26px;
	margin-left: 30px;
	font-size: 16px;
	color: black;
	float: left;
	text-align: center;
	line-height: 26px;
}
.zhineng .top .right .right3{
	display: block;
	
	height: 26px;
	margin-left: 30px;
	font-size: 16px;
	color: black;
	float: left;
	text-align: center;
	line-height: 26px;

}
.zhineng .top .right .right4{
	display: block;
	
	height: 26px;
	margin-left: 30px;
	font-size: 16px;
	color: black;
	float: left;
	text-align: center;
	line-height: 26px;
}
.zhineng .top .right .right5{
	display: block;
	
	height: 26px;
	margin-left: 30px;
	font-size: 16px;
	color: black;
	float: left;
	text-align: center;
	line-height: 26px;
}

.zhineng .up{
	width: 1226px;
	height: 628px;
	overflow: hidden;
}
.zhineng .up .lefttt{
	width: 234px;
	height: 614px;
	float: left;
	margin-bottom: 14px;
}

.lefttt .topp{
	display: block;
	margin-bottom: 14px;
	width: 234px;
	height: 300px;
	background: yellow;
	transition: all 1s;
}
.lefttt .topp1{
	display: block;
	
	width: 234px;
	height: 300px;
	background: yellow;
	transition: all 1s;
}
.zhineng .lefttt .topp:hover{
	transform: translateY(-5px);
	box-shadow: 0 8px 8px 8px rgba(0,0,0,0.4);
}
.zhineng .lefttt .topp1:hover{
	transform: translateY(-5px);
	box-shadow: 0 8px 8px 8px rgba(0,0,0,0.4);
}

.zhineng .up .lefttt  img{
	width: 234px;
	height: 300px;
}
.zhineng .up .lefttt .topp:last-child{
	margin-bottom: 0;
}
.zhineng .up .right{
	width: 992px;
	height: 628px;
	float: left;
	display:none;
}
.zhineng .up .active{
	display: block;
}
.zhineng .up .active1{
	display: block;
}
.zhineng .up .active2{
	display: block;
}
.zhineng .up .active3{
	display: block;
}
.zhineng .up .right .box{
	width: 234px;
	height: 300px;
	background: white;
	float: left;
	margin-left: 14px;
	margin-bottom: 14px;
}
.zhineng .up .right .box:last-child{
	background: none;
	transform: none;
	box-shadow: none;
}

.zhineng .up .right .box .zhe{
	width: 64px;
	height: 20px;
	background: #e53935;
	margin: 0 auto;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	color: white;
}
.zhineng .up .right .box .ge{
	background: yellow;
}

.zhineng .up .right .box .tu{
	background: pink;
	margin: 39px 23px 0 28px;
}
.zhineng .up .right .box .tu img{
	width:183px ;
	height:144px;
	display: block;
}
.zhineng .up .right .box .title {
	text-align: center;
	display: block;
	font-size: 12px;
	color: black;
	margin-top: 7px;
}
.zhineng .up .right .box .zhushi{
	text-align: center;
	font-size: 12px;
	color: #B0B0B0;
	margin-top: 2px;
}
.zhineng .up .right .box .jiage{
	text-align: center;
	font-size: 12px;
	color: #ff6733;
	margin-top: 10px;
}
.zhineng .up .right .box .jiage del{
	color: #B0B0B0;
}
.zhineng .up .right .box .con1{
	width: 234px;
	height: 143px;
	margin-bottom: 14px;
	background: white;
	transition:all 2s;

}
.zhineng .up .right .box .con1:hover{
	transform: translateY(-5px);
	box-shadow: 0 8px 8px 8px rgba(0,0,0,0.4);
}
.zhineng .up .right .box .con2:hover{
	transform: translateY(-5px);
	box-shadow: 0 8px 8px 8px rgba(0,0,0,0.4);
}

.zhineng .up .right .box .con2{
	width: 234px;
	height: 143px;
	background: white;
	transition:all 2s; 
}
.zhineng .up .right .box .con1 .left{
	width: 71px;
	height: 47px;
	margin-top: 35px;
	margin-left: 30px;
	float: left;
	box-shadow: none;
	transform: none;
}
.zhineng .up .right .box .con1 .righ{
	width: 89px;
	height: 75px;
	margin-top: 35px;
	margin-right: 27px;
	background: yellow;
	float: right;
}
.zhineng .up .right .box .con1 .left a{
	font-size: 12px;
	color: #333333;
	margin-top: 5px;
}
.zhineng .price{
	font-size: 12px;
	color: red;
	margin-top: 8px;
}
.zhineng .con2 .zuo{
	width: 71px;
	height: 75px;
	margin-top: 37px;
	margin-left: 30px;
	float: left;
}
.zhineng .con2 .you{
	width: 89px;
	height: 75px;
	float: right;
	margin-top: 37px;
	margin-right: 27px;
}
.zhineng .con2 .zuo .look {
	font-size: 17px;
	color:#333;
	margin-top: 17px;
}
.zhineng .hot{
	font-size: 12px;
	color: #b0b0b0;
	margin-top: 4px;
}
.zhineng .top .righta{
	width: 328px;
}
.zhineng .top .rightb{
	width: 342px;
}
.tuijian{
	width: 1226px;
	height: 359px;
	/* background: yellow; */
	margin: 0 auto;
}
.tuijian .top{
	width: 100%;
	height: 58px;
	/* background: red; */

}
.tuijian .top .left{
	font-size: 
}
.tuijian .down{
	width: 100%;
	height: 301px;
	/* background: green; */
}
.tuijian .down .list{
	width: 234px;
	height: 301px;
	background: #fff;
	margin-right: 14px;
	float: left;
	transition: all 1s;
}
.tuijian .down .list:hover{
	transform: translateY(-5px);
	box-shadow: 0 8px 8px 8px rgba(0,0,0,0.4);
}
.tuijian .down .list:last-child{
	margin: 0;
}
.tuijian .top .left{
	font-size: 20px;
	color: black;
	float: left;
	margin-top: 18px;
}
.tuijian .top .right{
	float: right;
	margin-top: 14px;
}
.tuijian .down .list .tu{
	display: block;
	width: 130px;
	height: 150px;
	margin-top: 37px;
	margin-left: 54px;
}
.tuijian .down .list img{
	width: 130px;
	height: 150px;
	display: block;

}
.tuijian .down .list .text{
	display: block;
	font-size: 12px;
	color: black;
	text-align: center;
	margin-top: 7px;
}
.tuijian .down .list .jiage{
	font-size: 12px;
	color: #ff6700;
	text-align: center;
	margin-top: 6px;
}
.tuijian .down .list .pingjia{
	font-size: 12px;
	color: #757575;
	text-align: center;
	margin-top:7px;
}
.hot_cp{
	width: 1226px;
	height: 473px;
	
	margin: 22px auto;

}
.hot_cp .top{
	width: 1226px;
	height: 58px;
	font-size: 20px;
	color: black;
	
	
	line-height: 58px;
}
.hot_cp .bottom{
	width: 1226px;
	height: 415px;
	
	
	
}
.hot_cp .bottom .list{
	width: 296px;
	height: 415px;
	background: #fff;
	margin-right: 14px;
	float: left;
	transition: all 1s;
}
.hot_cp .bottom .list:hover{
	transform: translateY(-5px);
	box-shadow: 0 8px 8px 8px rgba(0,0,0,0.4);
}

.hot_cp .bottom .list:last-child{
	margin-right: 0;
}
.hot_cp .bottom .list .tu{
	display: block;
	width: 296px;
	height: 220px;
	margin-bottom: 28px;
}
.hot_cp .bottom .list img{
	width: 296px;
	height: 220px;
	display: block;
}
.hot_cp .bottom .list .xia{
	
	height: 72px;
    margin: 0 28px 22px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}
.hot_cp .bottom .list .xia a{
	color: #333;
	display: block;
	
}
.hot_cp .bottom .list .pingjia{
	
	height: 18px;
    margin: 0 28px 8px;
    padding: 0 10px 0 0;
    font-size: 12px;
    color: #b0b0b0;
}
.hot_cp .bottom .list .jiage{
	 margin: 0 30px;
}
.hot_cp .bottom .list .jiage .title{
	display: inline-block;
    margin: 0;
    
    font-weight: 400;
    color: #333;
}
.hot_cp .bottom .list .jiage .title a{
	font-size: 14px;
	color: #333;
}
.hot_cp .bottom .list .jiage .price{
	display: inline;
    margin: 0;
    color: #ff6700;
}
.content{
	width: 1226px;
	height: 478px;
	/* background: yellow; */
	margin: 0 auto;
	margin-bottom: 22px;
}
.content .on{
	width: 1226px;
	height: 58px;
	/* background: green; */
	font-size: 22px;
	font-weight: 200;
    line-height: 58px;
    color: #333;
}
.content .off .one{
	width: 296px;
	height: 374px;
	float: left;
    padding: 45px 0 0;
    border-top: 1px solid #ffac13;
    margin-right: 14px;
    position: relative;
    background: #fff;
    transition: all 1s;
}
.content .off .one:hover{
	transform: translateY(-5px);
	box-shadow: 0 8px 8px 8px rgba(0,0,0,0.4);
}
.content .off .one:last-child{
	margin-right: 0;
}
.content .off .one:nth-child(2){
	border-top: 1px solid #83c44e;
}
.content .off .one:nth-child(3){
	border-top: 1px solid #e53935;
}
.content .off .one:last-child{
	border-top: 1px solid #2196f3;
}
.content .off .title{
	margin: 0 10px 18px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #ffac13;
}
.content .off .title1{
	color:#83c44e ;
}
.content .off .title2{
	color:#e53935 ;
}
.content .off .title3{
	color:#2196f3 ;
}

.content .off .name{
	margin: 0 20px 5px;
    font-size: 20px;
    font-weight: 400;
    color: #333;
    text-align: center;
    
    
}
.content .off .name a{
	display: block;
	color: #333;
}
.content .off .sec{
	margin: 0 48px 10px;
    height: 40px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}
.content .off .sec a{
	display: block;
	color: #b0b0b0;
}
.content .off .price{
	height: 21px;
    margin: 0 10px 15px;
    text-align: center;
}
.content .off .price a{
	display: block;

    color: #333;
}

.content .off .tu{
	width: 216px;
    height: 154px;
    margin: 0 auto;
}
.content .off .tu img{
	display: block;
	width: 216px;
	height: 154px;
}
.content .off .tu a{
	display: block;
	height: 154px;
}

.content .off .dian{
	position: absolute;
    bottom: 15px;
    left: 0;
    width: 296px;
    height: 30px;
}
.content .off .dians{
	width: 112px;
	height: 30px;
	margin: 0 auto;
	/* background: red; */
}
.content .off .dians1{
	width: 146px;

}
.content .off .dian1{
	width: 10px;
	height: 10px;
	float: left;
	padding: 10px;
	margin: 0 2px;

}
.content .off .dian1 .dian11{
	width: 6px;
	height: 6px;
	border: 2px solid #ff6700;
	border-radius: 50%;
	background: white;
}
.content .off .dian1 .dian12{
	width: 6px;
	height: 6px;
	border: 2px solid white;
	border-radius: 50%;
	background: #b0b0b0;

}
.content .off .dian1 .dianss {
	width: 136px;
}
.shipin{
	width: 1226px;
	height: 343px;
	margin-bottom: 60px;
	/* background: red;
 */	margin: 0 auto;
	margin-bottom: 60px;
}
.shipin .top{
	width: 100%;
	height: 58px;
	/* background: yellow; */
}
.shipin .top .left{
	font-size: 22px;
	line-height: 58px;
	width: 200px;
	float: left;
}
.shipin .top .right a{
	font-size: 16px;
    line-height: 58px;
    color: #424242;
    display: block;
    float: left;
    height: 58px;

}
.shipin .top .right a:hover{
	color: #ff6700;
}
.shipin .top .right{
	width: 93px;
	height: 58px;
	float: right;
	/* background: blue; */

}.shipin .top .right i{
	margin-left: 8px;
}
.shipin .bottom{
	width: 100%;
	height: 285px;
	/* background: blue; */
}
.shipin .bottom .list{
	width: 296px;
	height: 285px;
	background: #fff;
	margin-right: 14px;
	float: left;
	transition: all 1s;

}
.shipin .bottom .list:hover{
	transform: translateY(-5px);
	box-shadow: 0 8px 8px 8px rgba(0,0,0,0.4);
}
.shipin .bottom .list:last-child{
	margin-right: 0;
}
.shipin .bottom .list .tupian{
	display: block;
	width: 100%;
	height: 180px;
	position: relative;
	margin-bottom: 28px;

}

.shipin .bottom .list .tupian img{
	display: block;
	width: 100%;
	height: 180px;

}
.shipin .bottom .list .tupian .play{
	position: absolute;
	left: 20px;
    bottom: 10px;
    width: 32px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 12px;

}

	

.shipin .bottom .list .tupian:hover .play{
	border: 0;
	background: #ff6700;
	width: 34px;
    height: 22px
}
.shipin .bottom .list .tupian i{
	width: 12px;
	height: 12px;
	font-size: 25px;
    line-height: 20px;
    color: #fff;
   
    margin-left: 5px;
}
.shipin .bottom .lister{
	width: 100%;
	height: 21px;
	margin-bottom: 6px;
	font-weight: 400;

}
.shipin .bottom .lister a{
	font-size: 14px;
    font-weight: 400;
    color: #333;
    text-align: center;
    display: block;
}
.shipin .bottom .lister a:hover{
	color: #ff6700;
}
.shipin .bottom .zhushi{
	font-size: 12px;
    color: #b0b0b0;
    text-align: center;
}
.box_bottom{
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #fff;
}
.weixiu{
	width: 1226px;
	height: 272px;
	margin: 0 auto;
	/* background: red; */
}
.weixiu .top{
	width: 100%;
	height: 25px;
	padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}
.weixiu .top .title{
	width: 1226px;
	height: 25px;
}
.weixiu .top li{
	float: left;
    width: 19.8%;
    height: 25px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    border-right: 1px solid #e0e0e0;
}

.weixiu .top li a{
	color: #616161;
}
.weixiu .top li a:hover{
	color: #ff6700;
}
.iconfont3{
	margin-right: 6px;
    font-size: 25px;
    line-height: 24px;

}
.weixiu .top li:last-child{
	border: 0;
}
.weixiu .bottom{
	width: 100%;
	height: 112px;
	padding: 40px 0;
	/* background: red; */
}
.weixiu .bottom .xiaozi{
	width: 960px;
	height: 100%;
	/* background: yellow; */
	float: left;
}
.weixiu .bottom .zaixian{
	float: right;
    width: 251px;
    height: 112px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161
}
.weixiu .bottom .xiaozi .first{
	width: 160px;
	height: 112px;
	float: left;
	overflow: hidden;
}
.weixiu .bottom .xiaozi .first li:first-child{
	margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}
.weixiu .bottom .xiaozi .first li:nth-child(2){
	margin: 10px 0 0;
    font-size: 12px;
}
.weixiu .bottom .xiaozi .first li:nth-child(2) a{
	color: #757575;
}
.weixiu .bottom .xiaozi .first li:nth-child(2) a:hover{
	color: #ff6700;
}
.weixiu .bottom .xiaozi .first li:nth-child(3){
	margin: 10px 0 0;
    font-size: 12px;
}

.weixiu .bottom .xiaozi .first li:nth-child(3) a{
	color: #757575;
}
.weixiu .bottom .xiaozi .first li:nth-child(3) a:hover{
	color: #ff6700;
}

.weixiu .bottom .xiaozi .first li:last-child{
	margin: 10px 0 0;
    font-size: 12px;
}
.weixiu .bottom .xiaozi .first li:last-child a{
	color: #757575;
}
.weixiu .bottom .xiaozi .first li:last-child a:hover{
	color: #ff6700;
}
.weixiu .zaixian .phone{
	margin: 0 0 5px;
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}
.weixiu .zaixian p{
	margin: 0 0 16px;
    font-size: 12px;
    text-align: center;
    color: #616161;
}
.weixiu .zaixian .wx{
	border: 1px solid #ff6700;
    background: #fff;
    color: #ff6700;
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    display: block;
    margin: 0 auto;
}
.weixiu .zaixian .wx:hover{
	color: #fff;
	background: #ff6700;
}
.last{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 30px 0;
    font-size: 12px;
    background: #fafafa;
}
.last .title{
	width: 1226px;
	height: 57px;
	margin: 0 auto;
	/* background: red; */
}
.last .title .logo{
	float: left;
    width: 57px;
    height: 57px;
    margin-right: 10px;
    background: url('../img/logo.png') no-repeat center center;
}
.last .title .text{
	float: left;
    color: #b0b0b0;
    font-size: 12px;
}
.last .title .text .top{
	margin: 0;
    line-height: 18px;
}
.last .title .text .top a{
	color: #757575;
}
.last .title .text .top a:hover{
	color: #ff6700;
}

.last .title .text .down{
	margin: 0;
    line-height: 18px;
}
.last .title .text .down a{
	color: #b0b0b0;

}
.last .title .text .down a:hover{
	color: #ff6700;
}

.last .title .img_right{
	float: right;
    width: 438px;
    height: 28px;
    margin: 4px 0 0;
}
.last .title .img_right a{
	width: 85px;
    height: 28px;
    margin-left: 0px;
    display:block;
    float: left;
    
}


.last .title .img_right img{
	width: 85px;
	height: 28px;
	/* display: block; */
	
}
.last .title .img_right .bjj img{
	width: 83px;
	height: 28px;
	display: block;
} 
.zuihou{
	margin: 30px auto 0;
    width: 267px;
    height: 19px;
    background: url('../img/tansuo.png') no-repeat center center;

}



